
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-bolt:before { content: '\e801'; } /* '' */
.icon-triangle:before { content: '\e802'; } /* '' */
.icon-wave:before { content: '\e803'; } /* '' */
